form {
	display: inline-block;
	align-content: center;
	margin-bottom: 10px;
}

.addPlayer {
	display: block;
	width: 20%;
	margin: 10px auto;
	text-align: center;
	border: 2px solid black;
}

h3 {
	text-decoration: underline;
	
}